src/test/resources/xsd/student.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://com.cn.springxsd/demo"
            targetNamespace="http://com.cn.springxsd/demo"
            elementFormDefault="qualified"
>


    <xsd:complexType name="studentType">
        <xsd:attribute name="id" type="xsd:int">

        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string">

        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="student" type="studentType">

    </xsd:element>
</xsd:schema>